/* css */

.links {
  font-size: 12px;
  text-decoration: none;
  color: grey;
  text-align: center;
}

.mainTitle {
  font-size: 24px;
  font-weight: bold;
  color: #0ECAF0;
}

.buttonUpdate {
  font-size: 10px;
  color: white;
}

.buttonRemove {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.buttonAdd {
  font-size: 15px;
  color: white;
  width: 100%;
}

.bookGenre {
  font-size: 14px;
}

.bookTitle {
  font-size: 24px;
  margin-top: -20px;
}

.bookAuthor {
  margin-top: -20px;
  color: #0ECAF0;
}

.actionsLinks {
  font-size: 14px;
  color: #0ECAF0;
}

.completed {
  margin-top: -15px;
  color: gray;
  font-size: 12px;
}

.progressBar {
  width: 80%;
}

.currentChapter {
  font-size: 10px;
}

.chapter {
  margin-top: -15px;
}

.newBookTitle {
  color: gray;
  font-size: 12px;
}